# Importing necessary Libraries for loading the data from json file

In [1]:
import pandas as pd
import numpy as np
import os
from PIL import Image
import urllib

# Reading JSON

In [2]:
df = pd.read_json("vehicle-number-plate-detection/Indian_Number_plates.json", lines=True)
df.head()

,content,annotation,extras
0,http://com.dataturks.a96-i23.open.s3.amazonaws...,"[{'label': ['number_plate'], 'notes': '', 'poi...",NaN
1,http://com.dataturks.a96-i23.open.s3.amazonaws...,"[{'label': ['number_plate'], 'notes': '', 'poi...",NaN
2,http://com.dataturks.a96-i23.open.s3.amazonaws...,"[{'label': ['number_plate'], 'notes': '', 'poi...",NaN
3,http://com.dataturks.a96-i23.open.s3.amazonaws...,"[{'label': ['number_plate'], 'notes': '', 'poi...",NaN
4,http://com.dataturks.a96-i23.open.s3.amazonaws...,"[{'label': ['number_plate'], 'notes': '', 'poi...",NaN

In [3]:
#creating a directory to store the images
os.mkdir("Number Plates")

# downloading images

In [4]:
dataset = dict()
dataset["image_name"] = list()
dataset["image_width"] = list()
dataset["image_height"] = list()
dataset["top_x"] = list()
dataset["top_y"] = list()
dataset["bottom_x"] = list()
dataset["bottom_y"] = list()

counter = 0
for index, row in df.iterrows():
    try:
        img = urllib.request.urlopen(row["content"])
        img = Image.open(img)
        img = img.convert('RGB')
        img.save("Number Plates/licensed_car{}.jpeg".format(counter), "JPEG")
    
        dataset["image_name"].append("licensed_car{}".format(counter))
    
        data = row["annotation"]
    
        dataset["image_width"].append(data[0]["imageWidth"])
        dataset["image_height"].append(data[0]["imageHeight"])
        dataset["top_x"].append(data[0]["points"][0]["x"])
        dataset["top_y"].append(data[0]["points"][0]["y"])
        dataset["bottom_x"].append(data[0]["points"][1]["x"])
        dataset["bottom_y"].append(data[0]["points"][1]["y"])
        
        counter += 1
    except Exception as E:
        pass
print("Downloaded {} car images.".format(counter))

Downloaded 192 car images.

# creating dataframe of images

In [5]:
df = pd.DataFrame(dataset)
df.head()

,image_name,image_width,image_height,top_x,top_y,bottom_x,bottom_y
0,licensed_car0,494,449,0.161943,0.850780,0.582996,1.000000
1,licensed_car1,500,314,0.082000,0.697452,0.230000,0.828025
2,licensed_car2,551,455,0.411978,0.529670,0.805808,0.692308
3,licensed_car3,1569,1119,0.410758,0.453714,0.568867,0.516571
4,licensed_car4,1632,918,0.413203,0.397101,0.586797,0.623188

# storing the dataset to csv file

In [6]:
df.to_csv("indian_license_plates.csv", index=False)